@import '~bootstrap/scss/bootstrap';

body {
  background: radial-gradient(ellipse at center,
  rgba(179, 255, 252, 0),
  rgba(179, 255, 252, 0.10),
  rgba(179, 255, 252, 0.28),
  rgba(179, 255, 252, 0.44),
  rgba(179, 255, 252, 0.68),
  rgba(179, 255, 252, 1));
  overflow: hidden;
}

.clock {
  margin: 20vh auto;
  text-align: center;
  width: 90vw;

  .timer {
    font-size: 15vw;
  }
}

.hidden {
  display: none;
}
