@import '~bootstrap/scss/bootstrap';

body {
  background: radial-gradient(ellipse at center,
  rgba(179, 255, 252, 0),
  rgba(179, 255, 252, 0.10),
  rgba(179, 255, 252, 0.28),
  rgba(179, 255, 252, 0.44),
  rgba(179, 255, 252, 0.68),
  rgba(179, 255, 252, 1));
  overflow: hidden;
}

.clock {
  margin: 20vh auto;
  text-align: center;
  width: 90vw;

  .timer {
    font-size: 12vw;
  }
}

.hidden {
  display: none;
}

.options {
  label {
    text-align: center;
    input {
      background-color: rgba(179, 255, 252, 0.05);
      border: 0px;
      font-size: 4vw;
      height: 10vw;
      text-align: center;
      width: 10vw;
    }
  }
}
